{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_uogateen/moduleguidemodal

    uogateen Staff blocks modal display.

    Context variables required for this template:
        *

    Example context (json):
    {

    }
}}

<div class="modalcards moduleguidemodal">
{{#modulecode}}
    <div class="card">
        <div class="card-header card-warning bg-warning">
            <h3 class="card-title">
                {{{modulecode}}}
                {{#moduletitle}}
                    {{{moduletitle}}}
                {{/moduletitle}}
            </h3>
        </div>
        <div class="card-block">
            <div class="row">
                {{#modintro}}
                    <div class="mg-intro col-md-12">
                    <div class="card">
                        <div class="card-header card-default bg-primary">
                            <h3 class="card-title">{{#str}}modintrosection, theme_uogateen{{/str}}</h3>
                        </div>
                        <div class = "card-block">
                            {{{modintro}}}
                        </div>
                    </div>
                    </div>
                {{/modintro}}
            </div>
            <div class="row">
                {{#modval_level}}
                    <div class="mg-validated col-md-8">
                    <div class="card ">
                        <div class="card-header card-default bg-primary">
                            <h3 class="card-title">{{#str}}validatedsectiontitle, theme_uogateen{{/str}}</h3>
                        </div>
                        <div class = "card-block">
                            <div class="row">
                                <h4 class="valtitle col-md-3">{{#str}}valtitle, theme_uogateen{{/str}}:</h4>
                                <h4 class="valdetail col-md-9">{{{moduletitle}}}</h4>
                            </div>
                            <div class="row">
                                <h4 class="valtitle col-md-3">{{#str}}valmc, theme_uogateen{{/str}}:</h4>
                                <h4 class="valdetail col-md-4">{{{modulecode}}}</h4>
                                <h4 class="valtitle col-md-3">{{#str}}valyear, theme_uogateen{{/str}}:</h4>
                                <h4 class="valdetail col-md-2">{{{modval_year}}}</h4>
                            </div>
                            <div class="row modguidedivider">
                                <p><br></p>
                            </div>
                            <div class="row">
                                <h4 class="valtitle col-md-3">{{#str}}valschool, theme_uogateen{{/str}}:</h4>
                                <div class="valdetail col-md-9">{{{modval_school}}}</div>
                            </div>
                            <div class="row">
                            </div>
                            <div class="row">
                                <h4 class="valtitle col-md-3">{{#str}}vallevel, theme_uogateen{{/str}}:</h4>
                                <div class="valdetail col-md-4">{{{modval_level}}}</div>
                                <h4 class="valtitle col-md-3">{{#str}}valcat, theme_uogateen{{/str}}:</h4>
                                <div class="valdetail col-md-2">{{{modval_catpoints}}}</div>
                            </div>
                            <div class="row">
                                <h4 class="valtitle col-md-3">{{#str}}valpre, theme_uogateen{{/str}}:</h4>
                                <div class="valdetail col-md-9">{{{modval_prerequ}}}</div>
                            </div>
                            <div class="row">
                                <h4 class="valtitle col-md-3">{{#str}}valco, theme_uogateen{{/str}}:</h4>
                                <div class="valdetail col-md-9">{{{modval_corequ}}}</div>
                            </div>
                            <div class="row">
                                <h4 class="valtitle col-md-3">{{#str}}valrestrict, theme_uogateen{{/str}}:</h4>
                                <div class="valdetail col-md-9">{{{modval_restrictions}}}</div>
                            </div>
                            <p><br></p>
                            <div class="row">
                                <h4 class="valtitle col-md-3">{{#str}}valdesc, theme_uogateen{{/str}}:</h4>
                                <div class="valdetail col-md-9">{{{modval_desc}}}</div>
                            </div>
                            <div class="row">
                                <h4 class="valtitle col-md-3">{{#str}}valsyl, theme_uogateen{{/str}}:</h4>
                                <div class="valdetail col-md-9">{{{modval_syll}}}</div>
                            </div>
                            <div class="row">
                                <h4 class="valtitle col-md-3">{{#str}}vallo, theme_uogateen{{/str}}:</h4>
                                <div class="valdetail col-md-9">{{{modval_lo}}}</div>
                            </div>
                            <div class="row">
                                <h4 class="valtitle col-md-3">{{#str}}vallt, theme_uogateen{{/str}}:</h4>
                                <div class="valdetail col-md-9">{{{modval_activities}}}</div>
                            </div>
                            <div class="row">
                                <h4 class="valtitle col-md-3">{{#str}}valres, theme_uogateen{{/str}}:</h4>
                                <div class="valdetail col-md-9">{{{modval_resources}}}</div>
                            </div>
                        </div>
                    </div>
                    </div>
                {{/modval_level}}
                {{#modstructure}}
                    <div class="mg-structure col-md-4">
                    <div class="card">
                        <div class="card-header card-default  bg-primary">
                            <h3 class="card-title">Module Content</h3>
                        </div>
                        <div class = "card-block">
                            {{#modstructurecontent}} {{{modstructurecontent}}} {{/modstructurecontent}}
                        </div>
                        <div class = "card-footer">
                            <p>Link to Timetabling to go here (possible Collabco dev needed)</p>
                        </div>
                    </div>
                    </div>
                {{/modstructure}}
            </div>
            <div class = "row">
                {{#modassessments}}
                    <div class="mg-assessment col-md-12">
                        <div class="card">
                            <div class="card-header card-default bg-primary">
                                <h3 class="card-title">{{#str}}valassessments, theme_uogateen{{/str}}</h3>
                            </div>
                            <div class = "card-block">
                                {{{modassessments}}}
                                <h4 class="valtitle col-md-3">{{#str}}valspecass, theme_uogateen{{/str}}:</h4>
                                <div class="valdetail col-md-9">{{{modval_specass}}}</div>
                            </div>
                        </div>
                    </div>
                {{/modassessments}}
            </div>
            <div class = "row">
                {{#modaddinfo}}
                    <div class="mg-addinfo col-md-12">
                    <div class="card">
                        <div class="card-header card-default bg-primary">
                            <h3 class="card-title">{{#str}}modaddinfo, theme_uogateen{{/str}}</h3>
                        </div>
                        <div class = "card-block">
                            {{{modaddinfo}}}
                        </div>
                    </div>
                    </div>
                {{/modaddinfo}}
            </div>
            <div class = "row">
                {{#modresource}}
                    <div class="mg-resources col-md-12">
                    <div class="card">
                        <div class="card-header card-default bg-primary">
                            <h3 class="card-title">{{#str}}valres, theme_uogateen{{/str}}</h3>
                        </div>
                        <div class = "card-block">
                            {{{modresource}}}
                        </div>
                    </div>
                    </div>
                {{/modresource}}
            </div>
        </div>
    </div>
{{/modulecode}}
</div>

